header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 0,8rem 40px;
}

body{
    font-family: 'Poppins', sans-serif;
     background-color: #fafafa;
}

.Artigos{
    background-color: lightgray;
}

.logo_container {
    display: flex; 
    align-items: center; 
    gap: 0;  
}

.logo_container h1 {
    margin: 0; 
    font-size: 1.5rem; 
}

.logo_container img {
    width: 40px; 
    height: 40px; 
    margin: 0; 
}

nav ul {
    list-style: none; 
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px; 
}

nav a {
    text-decoration: none; 
    color: #333; 
    font-weight: 500; 
    text-transform: uppercase; 
    transition: color 0.3s;
}

nav a:hover {
    color: #007bff; 
}

.introducao {
    display: flex; 
    align-items: flex-start; 
    justify-content: space-between; 
    padding: 15px 80px; 
}

.texto_introducao {
    flex-basis: 60%; 
    margin-right: 20px; 
}

.texto_introducao h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 10px;
    margin-top: 0;
}

.texto_introducao p {
    font-size: 1.3rem;
    color: #555;
    line-height: 1.6;
    
}

.imagem_introducao {
    flex-basis: 35%; 
    text-align: right; 
}

.imagem_introducao img {
    max-width: 100%; 
    height: 250px; 
  
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.caixas_dos_artigos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.imagens_caixas img {
    height: 125px;
    width: auto;
    max-width: 100%; 
}

.caixas{
    background-color: white; 
    padding: 25px; 
    border-radius: 10px; 
    text-align: center; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.links_artigos {
    display: inline-block; 
    background-color: #007bff; 
    color: #ffffff; 
    padding: 10px 20px; 
    border-radius: 5px; 
    text-decoration: none; 
    font-weight: bold; 
    margin-top: 15px; 
    transition: background-color 0.3s ease;
}

.links_artigos:hover {
    background-color: #0056b3; 
}

/*Ferramentas*/
.caixas_ferramentas{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.links_apps {
    display: inline-block; 
    background-color: #007bff; 
    color: #ffffff; 
    padding: 10px 120px; 
    border-radius: 5px; 
    text-decoration: none; 
    font-weight: bold; 
    margin-top: 15px; 
    transition: background-color 0.3s ease;
}

.links_apps:hover{
    background-color: #0056b3;
}

.app-detalhes h3 {
    display: block; 
    margin-bottom: 15px; 
}

.imagens_ferramentas img{
    width: 120px; 
    height: auto;
   
    background-color: white; 
    border-radius: 15px;
}

.caixas_ferramentas{
    background-color: #f0f0f0; 
    padding: 20px; 
    border-radius: 8px; 
    margin-bottom: 30px; 
    max-width: 1100px; 
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: flex-start; 
    gap: 20px; 
}
