/* ====== RESET ====== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #333;
  background-color: #fafafa;
  line-height: 1.6;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

/* ====== CABEÇALHO ====== */
.header {
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  padding: 0.8rem 0;
  position: sticky;
  top: 0;
  z-index: 10
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-img {
    margin-top: 12px;
  width: 55px;
  height: 60px;
}

.logo h1 {
  font-size: 1.4rem;
  color: #141515;
  font-weight: 700;
}

/* ====== NAVEGAÇÃO ====== */
.navbar ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.navbar a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
  font-size: 0.9rem;
  transition: color 0.3s;
}

.navbar a:hover,
.navbar a.active {
  color: #0078ff;
}

/* ====== HERO SECTION ====== */
.hero {
  background-color: #fcfcfc;
  padding: 0.1rem 0;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
}

.hero-text {
  flex: 1;
  min-width: 280px;
}

.hero-text h2 {
  color: #0078ff;
  font-size: 1.9rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.hero-text p {
  color: #161616;
  max-width: 500px;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  font-weight: 900;

}

.btn-primary {
  background-color: #0078ff;
  color: #fff;
  padding: 0.7rem 1.4rem;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #005fcc;
}

/* ====== IMAGEM HERO ====== */
.hero-image {
  position: relative;
}

.hero-image img {
  width: 420px;   
  max-width: 100%;
}


/* ====== SEÇÃO DE CARDS ====== */
.features {
  background-color: #FCFCFC;
  padding: 3rem 0;
}

.features h3 {
  justify-content: end;
  color: #111;
  font-size: 1.8rem;
  margin-bottom: 2.5rem;
  font-weight: 700;
}

.cards-grid {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(10, 7, 7, 0.07);
  padding: 1.5rem;
  max-width: 340px;
  flex: 1 1 300px;
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card-icon {
  font-size: 2.2rem;
  text-align: center;
  margin-bottom: 0.6rem;
}

.card h4 {
  color: #0078ff;
text-align: center;
  margin-bottom: 0.8rem;
}

.card p {
  color: #101010;
  font-size: 0.95rem;
  margin-bottom: 0.5rem;
}

.card span {
  font-weight: 600;
}

/* ====== RESPONSIVO ====== */
@media (max-width: 768px) {
  .hero-content {
    flex-direction: column;
    text-align: center;
  }

  .hero-image {
    order: -1;
  }

  .navbar ul {
    gap: 1rem;
  }

  .logo h1 {
    font-size: 1.2rem;
  }

  .balao {
    display: none;
  }
}